@model Cuentum;

@{
    ViewData["Title"] = "Operacion Page";
    Cuentum user = (Cuentum)TempData["user"];

}
<div class="text-center">
    <h1 class="display-4">Operacion de cuenta </h1>
</div>

<label>Monto: @Model.Monto</label>
<br />
<br />
@Html.ViewData.Model.Monto.ToString();

<br />
<br />

<input type="button" value="Deposito" name="dep" onclick="@Url.Action("Deposito", "Home", user.IdCuenta)">
<input type="button" value="Extracción" name="ext" onclick="@Url.Action("Extraccion", "Home", user.IdCuenta)">
<button onclick="@Url.Action("Extraccion","HomeBanco")" >eeexxxtracc</button>
<button onclick="@Url.Action("Extraccion","Home")">sdsd</button>


